:root {                      
    --orange: #E2A041;
    --red: #E24141;
    --blue: #4E41E2;
    --green: #7EE241;
    --purple: #E241DC;
}
* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
}
ul {                            /* nav side-bar */
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 300px;
    height: 100vh;
    padding: 50px 0;
    z-index: 2;
    background-color: white;
}
a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}
a:visited {
    color:inherit;
}


.navLink {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 40px;
    border-bottom: 4px solid transparent; /* so items dont move on hover */
}
.navLink:nth-child(2):hover {
    border-bottom: 4px solid var(--orange);  /* underline on hover */
}
.navLink:nth-child(3):hover {
    border-bottom: 4px solid var(--blue);
}
.navLink:nth-child(4):hover {
    border-bottom: 4px solid var(--green);
}
.navLink:nth-child(5):hover {
    border-bottom: 4px solid var(--purple);
}
.navLogo {
    margin-bottom: 40px; 
}
.navLogo img {
    width: 200px;
    height: auto;
}

.headerMobile { 
    display: none;
}
.mobileNav a {
    display: none;
}


.hamburguer {     /* hamburguer menu */
    display: block;
    position: relative;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}
.hamburguer .bar, .hamburguer::after, .hamburguer::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #000;
    margin: 6px 0px;
    transition: 0.4s;
}
.hamburguer.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburguer.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}
.hamburguer.is-active .bar{
    opacity: 0;
}

.blockGrid {         /* defines the grid that contains our navigation blocks */
    width: calc(100% - 300px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 80px 0px;
}

.block {                       /* landing page blocks */
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.block:not(:last-child) {
    margin-bottom: 80px;
}
.large {                        /* different sizes/settings blocks */
    width: 1400px;
    height: 500px;
}
.large:nth-child(1) {
    background-image: url("../images/tobishallway.jpeg");
    background-position: center;
    background-size: cover;
    cursor: default;
}
.large:nth-child(4) {
    background-image: url("../images/ticket.jpg");
    background-position: center;
    background-size: 90%;
    background-color: rgb(45, 45, 47);
    background-repeat: no-repeat;

}
.medium {
    width: 800px;
    height: 800px;
    background-image: url("../images/girlBW.jpeg");
    background-position: top;
    background-size: 100%;
    cursor: pointer;
}
.small {
    width: 500px;
    height: 800px;
    margin-left: 100px;
    background-image: url("../images/calendario.jpg");
    background-position: center;
    background-size: cover;
}
.rectangle {                 /* blocks decoration */
    height: 100px;
    width: 200px;
    position: absolute;
    left: calc(100% - 200px);
    top: 100px;
    transition: 0.5s;
}
.semicircle {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 200px); /* 440px(height+border*2) / 2 */
    left: -220px;
    transition: 0.5s;
}
.medium .rectangle {
    left: 0;
}
.medium .semicircle {
    top: calc(100% - 200px);
    left: calc(100% - 150px);
}
.small .semicircle {
    top: calc(100% - 200px);
    right: calc(100% - 150px);
}
.large:nth-child(4) .rectangle {
    left: 0;
    top: 50px;
}
.large:nth-child(4) .semicircle {
    top: calc(100% - 200px);
    left: calc(100% - 150px);
}


.orange {
    background-color: var(--orange);
}
.orangec {
    border: 50px solid var(--orange);
}
.green {
    background-color: var(--green);
}
.greenc {
    border: 50px solid var(--green);
}
.red {
    background-color: var(--red);
    display: none;
}
.redc {
    border: 50px solid var(--red);
}
.white {
    background-color: white;
}
.whitec {
    border: 50px solid white;
}
.blue {
    background-color: var(--blue);
}



#year {                             /* info on blocks */
    position: absolute;
    font-size: 2rem;
    top: calc(50% - 1rem);
    left: 20px;
    color: white;
}
.intro {
    position: absolute;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    top: 70%;
    left: 60%;
    text-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
}
.event {
    position: absolute;
    text-transform: uppercase;
    color: white;
    font-size: 3.5rem;
    top: 80%;
    left: 60%;
    text-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
}
.medium .intro {
    left: 5%;
    top: 80%;
}
.medium .event {
    left: 5%;
    top: 85%;
}
.small .intro {
    left: 7%;
    top: 5%;
}
.small .event {
    left: 7%;
    top: 10%;
}
.large:nth-child(4) .intro {
    left: 5%;
    top: 69%;
}
.large:nth-child(4) .event {
    left: 5%;
    top: 77%;
}

.overlayOrange {          /* color overlays */
    width: 100%;
    height: 100%;
    background-color: var(--orange);
    opacity: 0%;
    transition: opacity 1s;
}
.overlayGreen {
    width: 100%;
    height: 100%;
    background-color: var(--green);
    opacity: 0%;
    transition: opacity 1s;
}
.overlayRed {
    width: 100%;
    height: 100%;
    background-color: var(--red);
    opacity: 0%;
    transition: opacity 1s;
}
.overlayWhite {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0%;
    transition: opacity 1s;
}




footer {
    height: 220px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
}
footer img {
    width: 150px;
    height: auto;
}
#centeredLogo {
    width: 20%;
}
#centeredLogo img {
    display: block;
    margin: 0 auto;
}
footer a {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    width: 20%;
    text-align: center;
}
footer a:first-child {
    text-align: end;
}
footer a:last-child {
    text-align: start;
}
footer a:visited {
    color: white;
}







/* ARTISTS */ 

.pageTitle {
    display: flex;
    height: 100px;
    align-items: center;
    margin-top: 70px;
}
.pageTitle .rectangle {
    position: static;
}
.pageTitle h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4rem;
    margin-left: 50px;
}

.artistsSection {
    margin-left: 50px;
    margin-top: 100px;
}
.artistsSection h2 {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2rem;
}
.wrapper {
    margin-bottom: 100px;
}
.wrapper .photoGallery {
    display: flex;
    cursor: grab;
    overflow: hidden;
    width: calc(100vw - 50px - 300px);
}
.photoGallery img {
    height: 340px;
    width: 340px;
    object-fit: cover;
    transition: opacity 0.5s;
    position: relative;
}
.photoGallery .blockWrapper:not(:first-child)  {
    margin-left: 100px;
}
.blockWrapper {
    position: relative;
}
.blockOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: calc(100% - 5px);
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}
.oBlockText {
    position: absolute;
    color: white;
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 3;
    text-align: center;
    transition: opacity 0.5s;
}


/* Tickets */


.ticketWrapper {
    margin: 150px 0px 150px 100px;
    display: flex;
}
.ticketWrapper img {
    object-fit: cover;
}
.productTicket {
    width: 450px;
    height: 450px;
    background-color: var(--blue);
}
.ticketInformation {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ticketInformation h1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}
.ticketInformation h3 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: var(--blue);
}
.ticketInfo {
    font-size: 1.2rem;
    width: calc(100% - 300px - 50px);
}
.pricingTicket {
    display: flex;
    align-items: center;
}
.pricingTicket p {
    font-size: 2rem;
    font-weight: 700;
}
.pricingTicket div {
    width: 4px;
    height: 100%;
    background-color: #000;
    margin: 0 30px;
}
.pricingTicket button {
    appearance: none;
    border: none;
    text-transform: uppercase;
    padding: 20px 40px;
    text-align: center;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
}
.pricingTicket button:hover {
    background-color: #7166e7;
}

/* SHOP */

.shopWrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 150px 150px 100px;
    width: calc(100% - 300px - 200px);
}
.shopItem {
    display: block;
    width: 350px;
    height: 350px;
    background-color: #7EE241;
    object-fit: cover;
    position: relative;
}
.blockOverlay2 {
    display: flex;
    align-items: end;
    justify-content: start;
    position: absolute;
    height: calc(100%);
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
    cursor: pointer;
}
.shopWrapper .blockWrapper {
    margin-bottom: 100px;
}
.shopWrapper .blockWrapper:not(:first-child,:nth-child(4),:nth-child(7))  {
    margin-left: 100px;
}
.itemPricing {
    position: absolute;
    color: white;
    background-color: #000;
    margin-bottom: 25px;
    padding: 20px;
    text-transform: uppercase;
    z-index: 3;
    text-align: left;
    transition: opacity 0.5s;
}
.itemPricing h4 {
    font-size: 1.4rem;
    font-weight: 700;
}
.itemPricing p {
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: 5px;
}

















@media (hover: hover) {
    .large:hover > .rectangle {   /* hover effects */
        height: 110px;
        width: 240px;
        left: calc(100% - 225px);
        top: 90px;
    }
    .large:hover > .semicircle {
        top: calc(50% - 210px);
    }
    .large:hover > .orangec {
        border: 60px solid var(--orange);
    }
    .large:hover > .overlayOrange {
        opacity: 15%;
    }
    .medium:hover > .overlayGreen {
        opacity: 15%;
    }
    .medium:hover > .rectangle {
        height: 110px;
        width: 240px;
        top: 90px;
    }
    .medium:hover > .greenc {
        border: 60px solid var(--green);
    }
    .medium:hover > .semicircle {
        top: calc(100% - 210px);
        left: calc(100% - 160px);
    }
    .small:hover > .redc {
        border: 60px solid var(--red);
    }
    .small:hover > .overlayRed {
        opacity: 10%;
    }
    .large:nth-child(4):hover > .whitec {
        border: 60px solid white;
    }
    .large:nth-child(4):hover > .rectangle {
        height: 110px;
        width: 240px;
        left: 0;
        top: 45px;
    }
    .large:nth-child(4):hover > .semicircle {
        top: calc(100% - 210px);
        left: calc(100% - 160px);
    }
    .large:nth-child(4):hover > .overlayWhite {
        opacity: 15%;
    }
}




@media screen and (min-width: 2200px) {
    .large {
        width: 1800px;
    }
    .medium {
        width: 1000px;
    }
    .small {
        width: 700px;
    }
    .ticketInfo {
        font-size: 1.4rem;
        width: 750px;
    }
}


@media screen and (max-width: 1920px) {
    .large {
        width: 1200px;
    }
    .large .event {
        left: 55%;
    }.large .intro {
        left: 55%;
    }
    .medium {
        width: 700px;
        background-size: cover;
    }
    .small {
        width: 400px;
    }
}


@media screen and (max-width: 1550px) {
    .large {
        width: 950px;
    }
    .large .event {
        left: 40%;
    }.large .intro {
        left: 40%;
    }
    .medium {
        width: 950px;
        height: 500px;
        background-position: center;
    }
    .medium .intro {
        top: 70%;
    }
    .medium .event {
        top: 80%;
    }
    .small {
        width: 950px;
        height: 500px;
        margin: 0;
        background-size: 210%;
        background-position: 100% 30%;
    }
    .small .intro {
        top: 70%;
        left: 60%;
    }
    .small .event {
        top: 80%;
        left: 60%;
    }
    .large:nth-child(4) {
        background-size: 110%;
    }
    .large:nth-child(4) .intro {
        left: 5%;
        top: 70%;
    }
    .large:nth-child(4) .event {
        left: 5%;
        top: 80%;
    }
    .red {
        display: block;
    }

    /* ARTISTS */

    .pageTitle .rectangle {
        width: 150px;
    }
    .pageTitle h1 {
        font-size: 3rem;
    }
    .artistsSection h2 {
        font-size: 1.7rem;
    }    
    .photoGallery img {
        height: 240px;
        width: 240px;
    }
    .oBlockText {
        font-size: 1.5rem;
    }

    /* TICKETS */

    .productTicket {
        width: 400px;
        height: 400px;
    }
    .ticketInformation h1 {
        font-size: 2.3rem;
    }
    .ticketInformation h3 {
        font-size: 1.2rem;
    }
    .pricingTicket p {
        font-size: 1.7rem;
    }
    .pricingTicket div {
        width: 3px;
    }
    .pricingTicket button {
        padding: 20px 40px;
    }
}

@media screen and (max-width: 1150px) {
    nav ul {
        display: none;
    }
    .headerMobile {
        height: 100px;
        width: 100vw;
        top: 0;
        left: 0;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        z-index: 2;
    }
    .navLogo {
        margin-bottom: 0px; 
    }
    .navLogo img {
        width: 150px;
    }
    .mobileNav {
        display: block;
        position: fixed;
        top: 0;
        left: -50%;
        width: 50%;
        min-height: 100vh;
        z-index: 1;
        background-color: white;
        padding-top: 120px;
        transition: 0.4s;
    }
    .mobileNav.is-active {
        left: 0;
    }
    .mobileNav a {
        display: block;
        text-align: center;
        margin: 55px 0px;
        padding: 12px 16px;
    }
    .blockGrid {
        width: 100%;
    }
    .large, .medium, .small {
        width: 80vw;
    }
    .intro {
        font-size: 1.7rem;
    }
    .event {
        font-size: 2.5rem;
    }
    .semicircle {
        display: none;
    }
    .intro, .event {
        left: 10% !important;
    }
    .rectangle {
        height: 70px;
        width: 160px;
    }
    #year {
        display: none;
    }
    .overlayGreen, .overlayOrange, .overlayRed, .overlayWhite {
        opacity: 15%;
    }
    .large:nth-child(1) .rectangle {
        left: calc(100% - 160px) !important;
    }
    .small .rectangle {
        left: calc(100% - 160px) !important;
    }
    .small {
        background-position: 10% 30%;
    }

    /* Artists */ 

    .pageTitle {
        margin-top: 150px;
    }
    .wrapper .photoGallery {
        width: calc(100vw - 100px);
    }
    /* Tickets */

    .ticketWrapper {
        margin: 100px 100px 0px;
        display: block;
    }
    .ticketWrapper:last-child {
        margin-bottom: 100px;
    }
    .productTicket {
        width: 100%;
        height: 400px;
    }
    .ticketInformation {
        margin-left: 0;
        margin-top: 30px;
    }
    .ticketInformation .ticketInfo {
        width: 100%;
        margin-bottom: 70px;
    }
    .pricingTicket div {
        height: 55px;
    }
}
@media screen and (max-width: 750px) {
    .large:nth-child(4) {
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 200%;
        background-color: rgb(45, 45, 47);
    }
    .intro {
        font-size: 1.3rem;
        top: 77% !important;
    }
    .event {
        font-size: 1.8rem;
        top: 85% !important;
    }
    footer {
        height: 120px;
        justify-content: space-around;
    }
    footer a {
        font-size: 1rem;
        text-align: center !important;
    }
    footer img {
        width: 90px;
        height: auto;
    }
    .rectangle {
        top: 10%;
    }

     /* Artists */ 

     .pageTitle .rectangle {
        width: 50px;
    }
    .pageTitle h1 {
        font-size: 1.9rem;
        margin-left: 30px;
    }
    .artistsSection {
        margin-top: 70px;
    }
    .wrapper {
        margin-bottom: 70px;
    }
    .photoGallery img {
        height: 170px;
        width: 170px;
    }
    .photoGallery .blockWrapper:not(:first-child)  {
        margin-left: 50px;
    }
    .artistsSection h2 {
        font-size: 1.3rem;
    }

    /* Tickets */ 

    .ticketWrapper {
        margin: 50px 50px 130px;
    }
    .productTicket {
        height: 200px;
    }
    .ticketInformation h1 {
        font-size: 1.5rem;
    }
    .ticketInformation h3 {
        font-size: 1rem;
    }
    .ticketInfo {
        font-size: 1.1rem;
        text-justify: auto;
    }
    .ticketInformation .ticketInfo {
        margin-bottom: 50px;
    }
    .pricingTicket p {
        font-size: 1.5rem;
    }
    .pricingTicket:last-child p:first-child {
        font-size: 1.3rem;
    }
    .pricingTicket div {
        height: 40px;
    }
    .pricingTicket button {
        font-size: 0.8rem;
        padding: 15px 30px;
    }
}